{
    "presets": [
        "react-app"
    ],
    "plugins": [
        ["import", {
            "libraryName": "antd",
            "libraryDirectory": "es",
            "style": true
        }],
        [
            "react-css-modules",
            {
                "generateScopedName": "[local]-[hash:base64:5]",
                "webpackHotModuleReloading": true,
                "filetypes": {
                    ".less": {
                        "syntax": "postcss-less"
                    }
                }
            }
        ]
    ]
}